@import url('https://fonts.googleapis.com/ccs2?family=Montserrat&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;

}


/* IMAGENES */

.container-fluid{
    height: 90%;
    width: 100%;
  
   }
   
   .carousel-inner img {
    
      width: 100%;
      max-height: 460px;
  }

  .mapa {
    background: url(../img/mapa.png);
    width: 100%;
    height: 500px;
  }
  
  #local {
    background: #3f3f3f;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
  }

  .wrapper {
    width: 50%;
    margin-left: 100px;
    padding-top: 150px;
  }

@media (max-width: 1200px) {
    #local {
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .wrapper {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}

@media (max-width: 768px) {
    #intro, #equipo  {
        width: 90% !important;
    }
    .servicio-fila { 
        width: 100% !important;
        text-align: center;
    }

}
@media (max-width: 576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}